#version=RHEL8
repo --name="AppStream" --baseurl=https://dl.rockylinux.org/pub/rocky/8/AppStream/x86_64/os/
url --url="https://dl.rockylinux.org/pub/rocky/8/BaseOS/x86_64/os/"
text
firstboot --disabled
ignoredisk --only-use=sda
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

network --bootproto=dhcp --device=link --activate --onboot=yes --hostname=localhost.localdomain

rootpw --lock locked
user --name=packer --groups=wheel --lock --shell=/bin/bash
sshkey --username=packer "__PACKER_SSH_PUBLIC_KEY__"

selinux --permissive
firewall --enabled --ssh
services --enabled="NetworkManager,sshd,chronyd,qemu-guest-agent,cloud-init,cloud-init-local,cloud-config,cloud-final"
timezone Etc/UTC --utc
bootloader --append="console=tty0 console=ttyS0,115200"

clearpart --all --initlabel --drives=sda
part / --fstype="xfs" --grow --size=1024

skipx
reboot

%packages
@^minimal-environment
openssh-server
openssh-clients
qemu-guest-agent
sudo
chrony
cloud-init
cloud-utils-growpart
curl
wget
python3
%end

%addon com_redhat_kdump --disable
%end

%post --log=/root/ks-post.log
echo '%wheel ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/wheel
chmod 440 /etc/sudoers.d/wheel
systemctl enable qemu-guest-agent
mkdir -p /etc/ssh/sshd_config.d
printf 'PermitRootLogin yes
PasswordAuthentication yes
' > /etc/ssh/sshd_config.d/10-cofoundry.conf
systemctl enable cloud-init-local
systemctl enable cloud-init
systemctl enable cloud-config
systemctl enable cloud-final
%end
