#version=RHEL9
repo --name="AppStream" --baseurl=https://dl.rockylinux.org/pub/rocky/9/AppStream/x86_64/os/
cdrom
text
firstboot --disabled
ignoredisk --only-use=vda
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

network --bootproto=static --ip=__PACKER_BUILD_IP__ --netmask=255.255.255.0 --gateway=__PACKER_BUILD_GW__ --nameserver=__PACKER_BUILD_DNS__ --device=link --activate --onboot=yes --hostname=localhost.localdomain

rootpw --lock locked
user --name=packer --groups=wheel --lock --shell=/bin/bash
sshkey --username=packer "__PACKER_SSH_PUBLIC_KEY__"

selinux --enforcing
firewall --enabled --ssh
services --enabled="NetworkManager,sshd,chronyd,qemu-guest-agent,cloud-init,cloud-init-local,cloud-config,cloud-final"
timezone Etc/UTC --utc

clearpart --all --initlabel --drives=vda
part / --fstype="xfs" --grow --size=4096

skipx
reboot

%packages
@^minimal-environment
openssh-server
openssh-clients
qemu-guest-agent
sudo
chrony
cloud-init
cloud-utils-growpart
gdisk
curl
wget
python3
%end

%addon com_redhat_kdump --disable
%end

%post --log=/root/ks-post.log
echo '%wheel ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/wheel
chmod 440 /etc/sudoers.d/wheel
systemctl enable qemu-guest-agent
systemctl enable cloud-init-local
systemctl enable cloud-init
systemctl enable cloud-config
systemctl enable cloud-final
%end
